<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A gift for you 💖</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/gif" href="/images/rainbow3.png">
</head>
<body>
    <main>
        <h1>Hey, it's me.<br>I made something just for you :3</h1>
        <div id="btn-container"><a class="btn" href="/home">Show me!</a></div>
    </main>

</body>
</html>
