<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A gift for you 💖</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/gif" href="/images/rainbow3.png">
</head>
<body>
    <main>
        <h1>What do you need right now?</h1>
        <div id="btn-container"><a class="btn" href="/hyped">I want to be hyped 💪</a></p><br>
        <p id="btn-container"><a class="btn" href="/loved">I want to feel loved 🥰</a></p>
    </main>
</body>
</html>