<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A gift for you 💖</title>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/gif" href="/images/rainbow3.png">
    <style>
        h1 {
            font-size: 48px;
        }
    </style>
</head>
<body>
    <main>
        <h1>You chose love! 💖<br>Pick what feels right in the moment.</h1>
        <p id="btn-container"><a class="btn" href="/memory">Remind me about a memory</a></p><br>
        <p id="btn-container"><a class="btn" href="/self-love">Practice self-love</a></p>
    </main>
</body>
</html>