<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Power 💪</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/gif" href="/images/rainbow3.png">
  <style>
    h1 {
      font-size: 50px;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
      font-size: 20px;
      text-align: center;
    }
    .btn {
      font-size: 25px;
      margin: 10px 0;
      padding: 20px 50px;
    }

    img {
      display: block;
      margin: auto;
    }
  </style>
</head>
<body>

<main>
  <h1>You did it! 💖</h1>

  <p>Taking a moment to appreciate yourself is powerful.<br>
  Here's a little reward!</p>

  <p><strong>A Mini Doom Slayer Figure</strong>: built different, just like you :3</p>

  <img src="/images/doom-figure.webp" alt="DOOM Slayer Figure" width="350">

  <br><br>
  <a class="btn" href="/home">Go back to Home</a>
</main>
</body>
</html>