<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Treasure for You 💖</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/gif" href="/images/rainbow3.png">
  <style>
    h1 {
      font-size: 50px;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
      font-size: 20px;
      text-align: center;
    }
    .btn {
      font-size: 25px;
      margin: 10px 0;
      padding: 20px 50px;
    }

    img {
      display: block;
      margin: auto;
    }
  </style>
</head>
<body>

<main>
  <h1>My love, this is for you 💌</h1>

  <p>You have carried so much love inside you —  
  enough to give to others, enough to give to me.<br><br>

  I wanted you to have something that carries strength too:  
  your very own Dragon Slayer keychain. 🐉✨<br><br>

  A reminder that you're brave, unshakable, and so, so loved.</p>

  <img src="/images/dragon-slayer.webp" alt="Dragon Slayer Keychain" width="350">

  <br><br>
  <a class="btn" href="/home">Go back to Home</a>
</main>
</body>
</html>